.Main-Section {
  /* height: calc(100vh - 3.5em); */
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: flex-start; */
  /* align-items: start; */

  /* padding-left: 10em; */

  /* border: 2px solid red; */

  background: rgba(255, 255, 255, 0.01),
    url("../../assets/background-img.png") no-repeat,
    -moz-linear-gradient(82.51deg, #1d1d1d 42.02%, rgba(27, 29, 32, 0.94) 52.11%, rgba(
            26,
            29,
            34,
            0.74
          )
          68.71%, rgba(0, 0, 0, 0) 92.74%);
  background: rgba(255, 255, 255, 0.01),
    url("../../assets/background-img.png") no-repeat,
    -webkit-linear-gradient(82.51deg, #1d1d1d 42.02%, rgba(27, 29, 32, 0.94)
          52.11%, rgba(26, 29, 34, 0.74) 68.71%, rgba(0, 0, 0, 0) 92.74%);
  background: rgba(255, 255, 255, 0.01),
    url("../../assets/background-img.png") no-repeat,
    -o-linear-gradient(82.51deg, #1d1d1d 42.02%, rgba(27, 29, 32, 0.94) 52.11%, rgba(
            26,
            29,
            34,
            0.74
          )
          68.71%, rgba(0, 0, 0, 0) 92.74%);
  background: rgba(255, 255, 255, 0.01),
    url("../../assets/background-img.png") no-repeat,
    -ms-linear-gradient(82.51deg, #1d1d1d 42.02%, rgba(27, 29, 32, 0.94) 52.11%, rgba(
            26,
            29,
            34,
            0.74
          )
          68.71%, rgba(0, 0, 0, 0) 92.74%);

  background: linear-gradient(
      82.51deg,
      #1d1d1d 42.02%,
      rgba(27, 29, 32, 0.94) 52.11%,
      rgba(26, 29, 34, 0.74) 68.71%,
      rgba(0, 0, 0, 0) 92.74%
    ),
    url("../../assets/background-img.png") no-repeat;

  background-size: cover;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 590px;
  max-width: 611px;
  font-size: 18px;
  margin-top: 205px;
  margin-left: 122px;
  padding: 0px;
  color: white;
  z-index: 100;
}

.main-title {
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 36px;
  margin-bottom: 15px;
  font-family: "tommy-regular";
  font-weight: 400;
}
.main-title-span {
  color: #f09236;
}

.main-content-text {
  width: 588px;
  padding-right: 22px;
  padding-left: 0px;
  margin-left: 0px;

  font-size: 22px;
  font-family: "tommy-thin";
  font-weight: 400;
  line-height: 27px;
}

.contact-button-wrapper {
  justify-content: start;
}

.contact-btn {
  /* width: fit-content; */
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 60px;
  width: 240px;
  height: 60px;
  color: #f09236;

  border: none;
  outline: none;
  border-radius: 4px;

  color: #f3963a;
  border: 2px solid #e37b00;

  background-color: transparent;

  font-size: 24px;
  font-family: "tommy-medium";
  line-height: 30px;
}
.contact-btn:hover {
  border: none;
  color: #161616;
  background: linear-gradient(
    137.83deg,
    #dec8a7 15.11%,
    #f3963a 37.03%,
    #e37b00 62.01%,
    #b03b31 87.72%
  );
  border-radius: 4px;
  cursor: pointer;
}

.main-social-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 57px;

  color: #e2e2e1;
  margin-top: 130px;

  font-size: 16px;
  font-family: "tommy-thin";
  font-weight: 400;

  letter-spacing: 0.3em;
}

.main-social-item {
  cursor: pointer;
}

.arrow-button-wrapper {
  display: flex;
  width: 100%;
  height: 73px;
  justify-content: end;
  margin-top: 24px;
  padding-right: 10px;
}

.arrow-button {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.main-bottom-gradient {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 560px;
  left: 360px;
  background: linear-gradient(
    180deg,
    rgba(29, 29, 29, 0.01) 7.61%,
    rgba(29, 29, 29, 0.54) 28.66%,
    #1d1d1d 52.22%
  );
  /* transform: matrix(1, -0.03, -0.03, -1, 0, 0); */

  background-size: cover;
  box-sizing: border-box;
  z-index: 2;
}
