.customer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 660px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 189px;
  position: relative;
  gap: 0;
}

.customer-container img:nth-child(1) {
  margin-left: 0px;
}

.customer-container img:nth-child(2) {
  margin-left: -34px;
}

.customer-container img:nth-child(3) {
  margin-left: -34px;
}

.customer-container img:nth-child(4) {
  margin-left: -34px;
}

.customer-container img:nth-child(5) {
  margin-left: -34px;
}

.customer-text {
  position: absolute;
  font-size: 48px;
  line-height: 74px;
  font-weight: 400;
  font-family: "tommy-regular";
  text-align: center;

  background: linear-gradient(
    137.83deg,
    #dec8a7 15.11%,
    #f3963a 37.03%,
    #e37b00 62.01%,
    #b03b31 87.72%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
