.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #565656;

  background: rgba(255, 255, 255, 0.01);
  border-top: outset 1px solid rgba(22, 22, 22, 1);
  margin: 0;
  padding: 0;
}

.footer-social-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 122px;
  gap: 57px;
}

.footer-social-item:link,
.footer-social-item:visited,
.footer-social-item:active {
  font-size: 16px;
  letter-spacing: 0.3em;
  font-weight: 400px;
  font-family: "tommy-light";
  color: #e2e2e1;
  text-decoration: none;
}

.footer-privacy {
  display: flex;
  padding-right: 122px;
  font-size: 16px;
  letter-spacing: 0.3em;
  font-weight: 400px;
  font-family: "tommy-light";
  color: #e2e2e1;
}

.footer-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
  color: rgba(86, 86, 86, 1);
  letter-spacing: 4px;

  font-size: 10px;
  font-weight: 400px;
  font-family: "tommy-thin";
}
