* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;

  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Telegrafico";
  font-style: normal;
  font-weight: 400;
  src: local("Telegrafico"),
    url("https://fonts.cdnfonts.com/s/8588/telegrafico.woff") format("woff");
}

@font-face {
  font-family: tommy-thin;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Thin_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-light;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-medium;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-regular;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-regular-outline;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Regular\ Outline_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-semi-bold;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-extra-bold;
  src: url("./assets/made_tommy/MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-thin-outline;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Thin\ Outline_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-light-outline;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Light\ Outline_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-regular-outline;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Regular\ Outline_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-medium-outline;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Medium\ Outline_PERSONAL\ USE.otf");
}
