* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;

  overflow-x: hidden;
}

@font-face {
  font-family: tommy-thin;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Thin_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-light;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-medium;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-regular;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-regular-outline;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Regular\ Outline_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-semi-bold;
  src: url("./assets/made_tommy/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf");
}

@font-face {
  font-family: tommy-extra-bold;
  src: url("./assets/made_tommy/MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf");
}
